html,
body {
  min-height: 100%;
  background-color: antiquewhite;
}

#__next {
  height: 100%;
}

@font-face {
  font-family: "Rubik";
  src: url("../asset/Rubik/Rubik-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
